html {
    font-family: sans-serif;
}

.container {
    width: 40rem;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(240, 240, 240);
}


.top {
    display: flex;
}

.profile-pic {
    width: 60px;
    border-radius: 9999px;
}

.name-ratings {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: large;
}

.checked {
    color: orange;
  }

.reviews {
    font-weight: 500;
    color: rgb(32, 32, 32);
    font-style: italic;

}