.menu {    
    padding: 1rem;
    width: 4rem;
    cursor: pointer;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
.submenu {    
    display: none;
  }
  
.menu:hover .submenu {    
    display: block;
  }

.submenu-item {
    display: block;
    background-color: lightgray;
    width: 8rem;
    padding: 0.5rem;
}

.submenu-item:hover {
    background-color: gray;
}